<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net472" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net472" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net472" />
</packages>